body {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    color: var(--color-standard);
    background-color: var(--color-primary);
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0px;
    font-size: 1.3rem;
}

.skip-link:focus {
    top: 0;
    outline-color: var(--color-focus);
}

footer,
header {
    width: 100%;
    background-color: var(--color-accent);
}

header,
main {
    margin-bottom: var(--space-margin);

}

.main__wrapper,
.header__wrapper,
.footer__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: var(--space-padding-sides);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__wrapper,
.footer__wrapper {
    padding-block: var(--space-padding-block);
}

.footer__wrapper {
    gap: 10px;
}

.main__wrapper {
    gap: var(--space-gap);
}

footer {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    color: var(--color-copy-rights);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gallery__button {
    background-color: var(--color-accent);
    border-radius: 20px;
    padding: 4px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.gallery__button:hover {
    background-color: var(--color-focus);
}

.gallery__button:focus {
    background-color: var(--color-focus);
    outline: none;
}

.gallery__pic {
    max-width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

#mainTitle {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    font-size: var(--fs-h1);
    text-align: center;
}

@media (min-width:768px) {
    .header__wrapper {
        align-items: flex-start;
    }
}

/* Modal-Style*/
dialog {
    background-color: var(--color-dialog);
    border-radius: 20px;
    margin: auto;
    max-width: var(--width-dialog);
    border: none;
    border-radius: 50px;
}

.dialog::backdrop {
    background-color: var(--color-hover-dialog-btn)
}

.dialog__wrapper {
    margin: 0 auto;
    max-width: 700px;
}

#dialogTitle {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-h2);
    color: var(--color-standard);
}

.dialog__wrapper-header {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--space-dialog-padding-sides);
    margin-top: var(--space-dialog-header-margin-top-mobil);
    margin-bottom: var(--space-dialog-margin-gap);
    align-items: center;
    gap: 5px;
    padding-top: var(--space-dialog-header-padding-top);
}

#dialogCloseBtn {
    background-color: var(--color-accent);
    border: solid 1px var(--color-standard);
    border-radius: 5px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#dialogCloseBtn:hover {
    background-color: var(--color-dialog-clsbtn)
}

#dialogCloseBtn:focus {
    outline-color: var(--color-focus);
}

.dialog__main-pic {
    display: flex;
    justify-content: center;
    padding-inline: var(--space-dialog-padding-sides);
    margin-bottom: var(--space-dialog-margin-gap);
    object-fit: cover;
    border: none;
}

#dialogimgs {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.dialog__wrapper-footer {
    display: flex;
    gap: 3.5rem;
    padding-inline: var(--space-dialog-padding-sides-buttons);
    margin-bottom: var(--space-dialog-margin-gap);
    justify-content: center;
    align-items: center;

}

#counter {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-dialog);
    color: var(--color-standard);
}

.dialog-FooterBtns {
    background-color: var(--color-dialog-footer-btn);
    border-radius: 50%;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
}

.dialog-FooterBtns:hover {
    background-color: var(--color-dialog-footer-btn-hover)
}

.dialog-FooterBtns:focus {
    outline-color: var(--color-focus);
}

.gallery_item {
    position: relative;
    display: block;
}

.heart-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    z-index: 10;
}

@media (max-width: 680px) {

    .dialog__wrapper {
        position: relative;
        width: 100%;
    }

    #dialogCloseBtn {
        position: absolute;
        top: -10px;
        right: 20px;
        left: auto;
    }

}













/* figtree-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/figtree-v9-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/figtree-v9-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/figtree-v9-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}