:root {
    --farbe-primary: #06171E;
    --farbe-accent: #09212A;
    --fs-h1: clamp(2.5rem, 2.0166rem + 2.4172vw, 4.1875rem);
    --fs-h2: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
    --fs-body: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
   
    --space-padding-sides:  clamp(1rem, -1.1307rem + 10.6535vw, 8.4375rem);
    --space-margin: clamp(2.5rem, 0.3571rem + 10.7143vw, 10rem);
    --space-gap: clamp(3.5rem, 1.6429rem + 9.2857vw, 10rem);
}


body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

main {
    flex: 1;
    width: 100%;
}

footer {
    width: 100%;
}

